@(notebooks:List[Notebook])

<div class="well">
	<ul id="notebooks" class="nav nav-list">
		<li class="nav-header">
			Notebooks
		</li>
		
		<li>
			<button id="create-notebook-button" class="btn btn-small">Create notebook</button>
			<div id="create-notebook" class="input-append" style="display:none">
				<input class="input-medium">
<!-- 				<button class="btn btn-mini" type="button"><i class="icon-ok"></i></button> -->
			</div>
		</li>
		
		@for(notebook <- notebooks) {
		<li notebook-id="@notebook.getId()">
			<a href="#">
				@notebook.getTitle()
				<i class="icon-trash"></i>
			</a>
		</li>
		} 
		<li class="nav-header">
			Temporary links to create notebook and notes
		</li>
		<li>
			<a href="/notebooks/create/xxxx">create notebook</a>
			<a href="/notebooks/$notebookId/note/xxxx">create note</a>
		</li>
	</ul>
</div>
