@(notebooks:List[Notebook])

<div class="well">
	<ul id="notebooks" class="nav nav-list">
		<li class="nav-header">
			Notebooks
		</li>
		@for(notebook <- notebooks) {
		<li notebook-id="@notebook.getId()">
			<a href="#">
				@notebook.getTitle()
				<i class="icon-trash"></i>
			</a>
		</li>
		} 
		<li class="nav-header">
			Temporary links to create notebook and notes
		</li>
		<li>
			<a href="/notebooks/create/xxxx">create notebook</a>
			<a href="/notebooks/$notebookId/note/xxxx">create note</a>
		</li>
	</ul>
</div>
