/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    height: 100%
}

mat-sidenav-content {
    padding: 10px
}

.margin-top-10 {
    margin-top: 10px
}