<app-header></app-header>

<div class="overlay" *ngIf="spinner$ | async">
  <div class="center">
    <mat-spinner style="margin : 0 50%"></mat-spinner>
  </div>
</div>

<mat-sidenav-container autosize>
    <mat-sidenav *ngIf="auth.isAuthenticated$ | async" style="height:100%" [fixedTopGap]="64" fixedInViewport [mode]="'side'" [opened]="true">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

