@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/markitup/skins/simple/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/markitup/sets/markdown/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.7.2.min.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/underscore.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/backbone.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/markitup/jquery.markitup.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/markitup/sets/markdown/set.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/notebook.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/note.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/modal.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/application.js")"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    </head>
    <body>      
		<header class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
			    <a class="brand" href="@routes.NotebookController.index">
			  		Notebook
				</a>
				<ul class="nav pull-right">
					<li class="dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      					@request.username
	      					<b class="caret"></b>
    					</a>
					    <ul class="dropdown-menu">
					      <li><a href="@routes.Application.logout">Sign out</a></li>
					    </ul>
				  	</li>
				</ul>             
		    </div>
		  </div>
		</header>
		
		<div class="ajax-loader-wrapper">
			<div class="alert alert-info hide">...</div>
			<div class="alert alert-error hide">An error has occurred. Please retry later.</div>
		</div>
		
	    <div class="container-fluid">
	    	<div class="row-fluid">
				<div id="sidebar" class="span2">
					<div class="well">
						<ul id="notebooks" class="nav nav-list">
							<li class="nav-header">
								Notebooks
							</li>
							
							<li>
								<button id="create-notebook-button" class="btn btn-small">Create notebook</button>
								
								<div id="create-notebook" class="input-append" style="display:none">
								  <input class="span10" id="appendedInputButton" type="text" required>
								  <button class="btn" type="button">OK</button>
								</div>								
								
<!-- 								<div id="create-notebook" style="display:none"> -->
<!-- 									<input class="input-small"> -->
<!-- 									<button type="button" class="btn-small btn">OK</button> -->
<!-- 								</div> -->
							</li>				
						</ul>
					</div>
				</div>
				<div id="content" class="span10">
					<div id="welcome">
						Welcome to Notebook!
					</div>
					
					<div id="create-note" class="hide">
						<div class="well well-small">Double click to create</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal hide" id="note-modal">
			<div class="modal-body">
				<textarea>put your text here</textarea>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
		    	<a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
		    </div>
		</div>		
    </body>
</html>
