@(title: String)

<!DOCTYPE html>

<html ng-app="notello">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/markitup/skins/simple/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/markitup/sets/markdown/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js" ></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-sanitize.min.js" ></script> 
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/notebook.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/markitup/jquery.markitup.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/markitup/sets/markdown/set.js")"></script>
        <script type="text/javascript">
			$.extend(mySettings,{
				onCtrlEnter: {keepDefault:false, openWith: function(h){
					$(h.textarea).parents(".tab-content").find(".btn-primary").click();
				}}
			})        
        </script>
    </head>
    <body>      
		<header class="navbar navbar-inverse">
		  <div class="navbar-inner">
		    <div class="container">
			    <a class="brand" href="@routes.NotebookController.index">
			  		Notebook
				</a>
				<ul class="nav pull-right">
					<li class="dropdown">
    					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	      					@request.username
	      					<b class="caret"></b>
    					</a>
					    <ul class="dropdown-menu">
					      <li><a href="@routes.Application.logout" target="_self">Sign out</a></li>
					    </ul>
				  	</li>
				</ul>             
		    </div>
		  </div>
		</header>
		
		<div class="ajax-loader-wrapper">
			<div class="alert alert-info hide">...</div>
			<div class="alert alert-error hide">An error has occurred. Please retry later.</div>
		</div>
		
	    <div class="container-fluid">
	    	<div class="row-fluid">
				<div id="sidebar" class="span3" ng-controller="NotebookCtrl">
					<div class="well">
						<ul id="notebooks" class="nav nav-list">
							<li class="nav-header">Notebooks</li>
							<li>
								<form>
									<div class="input-append">
										<input type="text" class="input-block-level" style="width:90%" ng-model="notebook" placeholder="Filter or add..." required/>
									  	<button type="submit" class="btn btn-primary" ng-click="create()"><i class="icon-plus icon-white"></i></button>
									</div>								
								</form>							
							</li>	
							<li ng-repeat="notebook in notebooks | filter:notebook" ng-class="{active : $index == selectedIndex}">
								<a href="/notebooks/{{notebook.id}}" ng-click="select($event,$index)">{{notebook.title}} <i class="icon-trash pull-right" ng-click="delete($event, $index)"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div id="content" class="span9" ng-view>
					<div id="welcome">
						Welcome to Notebook!
					</div>
				</div>
			</div>
		</div>
		<script type="text/ng-template" id="/noteList.html">
			<div ng-controller="AddNoteCtrl">
				<button class="btn btn-small pull-right" ng-click="hidden=false">Add note  <i class="icon-plus-sign"></i></button>
				
				<div id="addNote" ng-hide="hidden">
					<textarea markitup ng-model="content"></textarea>
					<div>
						<a href="#" class="btn" ng-click="hidden=true">Close</a>
				    	<a href="#" class="btn btn-primary" ng-click="save()">Save changes</a>
				    </div>
				</div>
			</div>

			<div ng-repeat="note in notes" class="tabbable" id="note-{{note.id}}">
				<ul class="nav nav-tabs">
					<li ng-class="{active:!note.mode || note.mode == 'view'}" ng-click="note.mode='view'"><a href>View</a></li>
					<li ng-class="{active:note.mode == 'edit'}" ng-click="note.mode='edit'"><a href>Edit</a></li>
					<li><a href="/notebooks/{{notebookId}}/notes/{{note.id}}" target="_self" ng-click="delete($event, $index)">Delete</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" ng-class="{active:!note.mode || note.mode == 'view'}" ng-bind-html="note.contentAsHtml">
						{{note.contentAsHtml}}
					</div>
					<div class="tab-pane" ng-class="{active:note.mode == 'edit'}">
						<textarea markitup>{{note.content}}</textarea>
						<div class="btn-toolbar">
							<div class="btn-group">
								<a href="#" class="btn" ng-click="cancel(note)">Cancel</a>
							</div>
							<div class="btn-group">
								<a href="#" class="btn btn-primary" ng-click="save(note, $index)">Save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
    </body>
</html>
