@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/markitup/skins/simple/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/lib/markitup/sets/markdown/style.css")">
        
        <script src="@routes.Assets.at("javascripts/lib/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/backbone.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/markitup/jquery.markitup.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lib/markitup/sets/markdown/set.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/notebook.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/note.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/modal.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/src/application.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    </head>
    <body>      
		<header class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
			    <a class="brand" href="#">
			  		Notebook
				</a>             
		    </div>
		  </div>
		</header>    
		
		<div id="sidebar" class="span4">
			<div class="well">
				<ul id="notebooks" class="nav nav-list">
					<li class="nav-header">
						Notebooks
					</li>
					
					<li>
						<button id="create-notebook-button" class="btn btn-small">Create notebook</button>
						<div id="create-notebook" class="input-append" style="display:none">
							<input class="input-medium">
						</div>
					</li>				
				</ul>
			</div>
		</div>
		<div id="content" class="span8">
	        @content
		</div>
    </body>
</html>
