<div style="text-align: center;">
    <h1><mat-icon>notes</mat-icon> Notello</h1>

    <ng-container *ngIf="auth.isAuthenticated$ | async; else publicHome">
        <a [routerLink]="['/notebook']">View Notebooks</a>
    </ng-container>
    
    <ng-template #publicHome>
        <p>
             Notello is a simple and easy way to take notes.
        </p>
        <p>
            <button mat-flat-button color="primary" (click)="auth.loginWithRedirect()">Sign In</button> to start taking notes now
        </p>
    </ng-template>
</div>
